@model IEnumerable<ProboVideo.ViewModels.RandomModel>
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Random</h2>
@*<h2>@Model.Movie.</h2>*@


<!--<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Discription</th>
            <th>AddDate</th>
            <th>ReleaseDate</th>-->
            <!-- Add more columns as needed -->
        <!--</tr>
    </thead>
    <tbody>-->
@*        @foreach (var movie in Model)
        {
            <tr>
                <td>@movie.</td>
                <td>@.Name</td>
                <td>@customer.memberShipType.Name</td>

            </tr>
        }*@
    <!--</tbody>
</table>-->


