@model IEnumerable<ProboVideo.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
</head>
<h2>Index</h2>

<table id="movies" class="table">
    <thead>
        <tr>

            <th>Name</th>
            <th>Discription</th>
            <th>AddDate</th>
            <th>ReleaseDate</th>
            <!-- Add more columns as needed -->
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

@section scripts
{
    <script>

        $(document).ready(function () {
            $.ajax({
                url: "/api/Movie/",
                method: "GET",
                dataType: "json",
                success: function (data) {
                    // Clear existing rows
                    $("#movies tbody").empty();

                    // Populate table rows dynamically
                    $.each(data, function (index, movie) {
                        var row = "<tr>" +
                            "<td>" + movie.title + "</td>" +
                            "<td>" + movie.description + "</td>" +
                            "<td>" + movie.genre.name + "</td>" +
                            "<td>" + movie.addedDate + "</td>" +
                            "<td>" + movie.releaseDate + "</td>" +
                            "<td>" + movie.numberInStock + "</td>" +
                            "</tr>";
                        $("#movies tbody").append(row);
                    });
                },
                error: function (error) {
                    console.log("Error fetching data:", error);
                }
            });
        });
    </script>
</script>
}